*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    }

    header {
        width: 100%;
        background-color: #a3bbd3;  
        padding: 10px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 42px;
        font-weight: normal;
        color: #223b73;
        margin: 0;
        font-family: "Libre Bodoni";
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        transition: 0.2s;
    }

    nav a:hover{
        color: #a91b69;
    }

    .container {
        width: 70%;
        margin: 30px auto;
        background-color: white;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }
   
   
    .banner-img {
        width: 70%;
        border-radius: 10px;
        margin-bottom: 20px;
        position: center;
    }
   
    .section-title {
        text-align: center;
        color: #0039a6;
        padding-bottom: 2rem;
        padding-top: 2.5rem;
        font-size: 3rem;
        font-weight: 800; ;
    }
   
   
    .compare-box {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        gap: 20px;
    }
   
    .box {
        width: 50%;
        background-color: #d9ebf8;
        padding: 25px;
        border-radius: 20px;
    }
   
    .box h2 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 15px;
        color: #0039a6;
    }
   
    strong{
        color: #a91b69;
    }

    body{
        background: #f4eaea;
    }

    img{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 2%;
    }
