*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    }

    .header {
        width: 100%;
        background-color: #a3bbd3;  
        padding: 10px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 42px;
        font-weight: normal;
        color: #223b73;
        margin: 0;
        font-family: "Libre Bodoni";
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        transition: 0.2s;
    }

    nav a:hover{
        color: #a91b69;
    }

    img{
        max-width: 100%;
   
    }
   
    main{
        width: 100%;
    }
   
    .quiz{
        width: 80%;
        margin: 20px auto;
        background-color: #f4eaea;
        padding: 20px;
        border-radius: 10px;
    }
   
    .athenas{
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: #fff;
        border-radius: 10px;
    }
   
    .foto {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
   
    .pergunta{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    body{
        background-color: #f4eaea;
    }

    .voltar{
    display: block;        
    margin-top: 20px;      
    font-size: 32px;       
    font-weight: bold;              
    text-align: left;  
    }

    .certa{
        color: rgb(36, 205, 36);  
    }

    .opcao{
        margin-top: 20px;
    }

    .rodape{
        background-color:#a3bbd3 ;
        text-align: center;
        padding: 15px;
        margin-top: 40px;
        font-size: 16px;
        
    }