*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    }

    header {
        width: 100%;
        background-color: #a3bbd3;  
        padding: 10px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 42px;
        font-weight: normal;
        color: #223b73;
        margin: 0;
        font-family: "Libre Bodoni";
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        transition: 0.2s;
    }

    nav a:hover{
        color: #a91b69;
    }

    .titulo {
        font-size: 42px;
        margin-top: 50px;
        color: #0039a6;
        font-weight: bold;
        text-align: center;
    }
   
    .form-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
   
    .form {
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
   
    .form label {
        font-size: 15px;
        color: #000;
        margin-bottom: 5px;
    }
   
    .form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 22px;
        border: none;
        background: transparent;
        border-bottom: 2px solid #333;
        outline: none;
        font-size: 15px;
    }
   
    .botao_conta {
        width: 150px;
        height: 32px;
        background-color: #0c2e8a;
        color: white;
        font-weight: bold;
        font-size: 11px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        align-self: center;
    }
   
    .botao_conta:hover {
        background-color: #0a256d;
    }

    body{
        background-color: #f4eaea;
    }

